<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leisure Card</title>

   

    @Styles.Render("~/bundles/css")

    <!--[if lt IE 9]>
      <script src="/Scripts/html5shiv.min.js"></script>
      <script src="/Scripts/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="leisureApp" ng-controller="globalCtrl" ng-class="global.bodyclass" id="ng-app">

    @{Html.RenderPartial("Header");}

    <div class="content">
        <div class="container slideshow slideshowcont" ng-show="global.slideshow.length != 0">
            <div class="row">
                <div class="twelvecol last">
                    <div slideit="global.slideshow"></div>
                </div>
            </div>
            <div class="slideshowmask">
                <div class="mask"><img src="~/Content/@Session["TenantKey"]/img/mask-blank.png" /></div>
            </div>
        </div>
        <div class="admin-banner"><div class="admin-banner-inner"><img src="~/Content/@Session["TenantKey"]/img/admin-banner.jpg" /></div></div>
        <div class="container">
            <div class="row">
                <div class=twelvecol">
                    <ol class="ab-nav breadcrumb">
                        <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
                            <a ng-if="!$last" ng-bind="breadcrumb.label" ng-click="redirectTo(breadcrumb.path)" href="#" class="margin-right-xs"></a>
                            <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">

                @RenderBody()
            </div>
        </div>
        <div class="clear"></div>
    </div>

    @{Html.RenderPartial("Footer");}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>

    @Scripts.Render("~/bundles/angular")


    @Scripts.Render("~/bundles/appjs")

    <script>
    app.constant('config', {
        googleAPiKey: 'AIzaSyAvl80GCl1HRw1H_FmBIGlLk2VPcV5R5Cg',
        tenant: 'npower',
        //apiUrl: 'http://leisurecards.mutlitenantapi.shiftkey.uk.com:8088/' //-http://grg.leisurecards.api.shiftkey.uk.com
        apiUrl: '//localhost:1623'
    });
    </script>

    <script src="/Scripts/app/config.js" type="text/javascript"></script>

    <!--[if lte IE 8]> <script src="/Scripts/angular-ie-shiv.js"></script><![endif]-->

</body>
</html>

